#### Module 10: Unsupervised Learning

#### Case Study–3

Questions:
1. Load the file “zoo.data” and look at the info and the first five rows. The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.
2. Find out the unique number of high-level cclasses
3. Use the 16-intermediate feature and perform an agglomerative clustering.
[ Hint: Refer to the agglomerative clustering module in scikit learn and set the
number of clusters appropriately]
4. Compute the mean squared error by comparing the actual class and predicted high-level class.

In [2]:
# Load the file “zoo.data” and look at the info and the first five rows. 
# The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.

import pandas as pd
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import mean_squared_error

# Load dataset
df = pd.read_csv("zoo.csv")

# Look at info and first five rows
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB
None

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [5]:
# Find out the unique number of high-level cclasses

unique_classes = df['class_type'].nunique()
print("Unique number of high-level classes:", unique_classes)

Unique number of high-level classes: 7

In [10]:
# Use the 16-intermediate feature and perform an agglomerative clustering. 
# [ Hint: Refer to the agglomerative clustering module in scikit learn and set the number of clusters appropriately]


# Use the 16 intermediate features (exclude animal_name and class)
X = df.iloc[:, 1:-1]   
y = df['class_type']   

# Agglomerative Clustering
agg_cluster = AgglomerativeClustering(n_clusters=unique_classes, linkage='ward')
y_pred = agg_cluster.fit_predict(X)

In [8]:
# Compute the mean squared error by comparing the actual class and predicted high-level class.

mse = mean_squared_error(y, y_pred)
print("Mean Squared Error between actual and predicted classes:", mse)

Mean Squared Error between actual and predicted classes: 7.673267326732673