### Module 5: Data Manipulation

#### Case Study–2

#### Domain –HR

focus – Insights from data

Business challenge/requirement
SFO Public Department - referred to as SFO has captured all the salary data of its
employees from the year 2011-2014. Now we are in the year 2015 and the
organization is facing a financial crisis. As the first step HR wants to rationalize
employee costs to save the payroll budget. You have to do data manipulation and
analysis on the salary data to answer specific questions for cost savings.


Key issues
Cost can be saved by figuring out the key pockets of high salaries

Data volume
- Approx 150K records across files

Business benefits
Save at least 10% of employee costs by identifying and letting them go

Approach to Solve
You have to use the fundamentals of Pandas covered in module 6 and answer the following 5 Questions

1. Compute how much total salary cost has increased from the year 2011 to 2014
2. Which Job Title in the Year 2014 has the highest mean salary?
3. How much money could have been saved in the Year 2014 by stopping OverTimePay?
4. Which are the top 5 common jobs in the Year 2014 and how much do they cost SFO?
5. Who was the top earning employee across all the years?

Enhancements for code
You can try these enhancements in code
1. Which are the last 5 common jobs in the Year 2014 and how much do they cost SFO?
2. In year 201 OverTimePay was what percentage of TotalPayBenefits
3. Which Job Title in the Year 2014 has the lowest mean salary?

In [3]:
import pandas as pd
import numpy as np

# low_memory=False to avoid DtypeWarning
df = pd.read_csv("Salaries.csv", low_memory=False)

# Clean numeric columns (remove $ and commas if present)
for col in ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits']:
    if col in df.columns:
        # Convert to string first, replace $ and commas
        df[col] = df[col].astype(str).str.replace(r'[$,]', '', regex=True)
        # Replace string "nan" with np.nan before conversion
        df[col] = df[col].replace('nan', np.nan)
        # Convert to numeric with errors='coerce' to handle any remaining problematic values
        df[col] = pd.to_numeric(df[col], errors='coerce')

In [5]:
# Compute how much total salary cost has increased from 2011 to 2014
total_2011 = df[df['Year'] == 2011]['TotalPayBenefits'].sum()
total_2014 = df[df['Year'] == 2014]['TotalPayBenefits'].sum()
increase = total_2014 - total_2011
print("Increase in total salary cost from 2011 to 2014 =", increase)

Increase in total salary cost from 2011 to 2014 = 1227752749.88

In [6]:
# Which Job Title in the Year 2014 has the highest mean salary?
highest_mean_job_2014 = df[df['Year'] == 2014].groupby('JobTitle')['TotalPayBenefits'].mean().idxmax()
print("Job Title with highest mean salary in 2014 =", highest_mean_job_2014)

Job Title with highest mean salary in 2014 = Chief Investment Officer

In [7]:
# How much money could have been saved in the Year 2014 by stopping OverTimePay?
saved_overtime_2014 = df[df['Year'] == 2014]['OvertimePay'].sum()
print("Money saved by stopping OvertimePay in 2014 =", saved_overtime_2014)

Money saved by stopping OvertimePay in 2014 = 205918599.26999998

In [8]:
# Top 5 common jobs in the Year 2014 and how much they cost SFO
top5_jobs_2014 = df[df['Year'] == 2014]['JobTitle'].value_counts().head(5)
top5_costs_2014 = df[df['Year'] == 2014].groupby('JobTitle')['TotalPayBenefits'].sum().loc[top5_jobs_2014.index]
print("Q4: Top 5 common jobs in 2014 and their costs:")
print(top5_costs_2014)

Q4: Top 5 common jobs in 2014 and their costs:
JobTitle
Transit Operator                2.149764e+08
Special Nurse                   5.344305e+07
Registered Nurse                1.872165e+08
Public Svc Aide-Public Works    9.806317e+06
Firefighter                     1.448270e+08
Name: TotalPayBenefits, dtype: float64

In [9]:
# Who was the top earning employee across all the years?
top_employee = df.loc[df['TotalPayBenefits'].idxmax(), 'EmployeeName']
print("Top earning employee across all years =", top_employee)

Top earning employee across all years = NATHANIEL FORD

In [10]:
# Enhancements
# Last 5 common jobs in the Year 2014 and how much they cost SFO
last5_jobs_2014 = df[df['Year'] == 2014]['JobTitle'].value_counts().tail(5)
last5_costs_2014 = df[df['Year'] == 2014].groupby('JobTitle')['TotalPayBenefits'].sum().loc[last5_jobs_2014.index]
print("E1: Last 5 common jobs in 2014 and their costs:")
print(last5_costs_2014)

E1: Last 5 common jobs in 2014 and their costs:
JobTitle
Transit Planner 4            16008.88
Transit Planner 2            14803.33
Baker                        14114.55
Cashier 3                     2074.60
Chief Investment Officer    436224.36
Name: TotalPayBenefits, dtype: float64

In [11]:
# In year 2011 OverTimePay was what percentage of TotalPayBenefits
overtime_2011 = df[df['Year'] == 2011]['OvertimePay'].sum()
totalpaybenefits_2011 = df[df['Year'] == 2011]['TotalPayBenefits'].sum()
percentage_overtime_2011 = (overtime_2011 / totalpaybenefits_2011) * 100
print("OvertimePay percentage of TotalPayBenefits in 2011 =", percentage_overtime_2011, "%")

OvertimePay percentage of TotalPayBenefits in 2011 = 6.31503365427881 %

In [12]:
# Which Job Title in the Year 2014 has the lowest mean salary?
lowest_mean_job_2014 = df[df['Year'] == 2014].groupby('JobTitle')['TotalPayBenefits'].mean().idxmin()
print("Job Title with lowest mean salary in 2014 =", lowest_mean_job_2014)

Job Title with lowest mean salary in 2014 = BdComm Mbr, Grp2,M=$25/Mtg